body {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Gill Sans", sans-serif;
    margin:0;
    padding:0;
    background-color: rgb(255, 255, 255);
}
.main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.page-content {
    max-width: 1200px;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.first-section-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.first-section{
    height: 600px;
    display: block;
    width: 80%;
    margin-top: 180px;
}
.first-section .title{
    font-size:26px;
    margin-bottom: 10px;
    font-weight: 600;
    display: block;
}
.first-section .contact-content{
    display: flex;
    justify-content: space-between;
}
.first-section .map{
    width:60%;
    overflow: hidden;
}
.first-section .map-iamge{
    width: 100%;
}