body {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Gill Sans", sans-serif;
    margin:0;
    padding:0;
    background-color: rgb(255, 255, 255);
    background-image: url('../img/78S.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.page-content {
    max-width: 1200px;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.first-section-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.first-section{
    height: 600px;
    display: block;
    width: 80%;
    margin-top: 180px;
}
.first-section .title{
    font-size:40px;
    text-align: center;
    font-weight: 600;
    display: block;
}
.first-section .image-container{
    height:300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 50px 0;
}
.first-section .image{
    width:100%;
}
.first-section .discription{
    display: block;
    width: 100%;
    text-align: center;
    font-size:18px;
}