body {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Gill Sans", sans-serif;
    margin:0;
    padding:0;
    background-color: rgb(255, 255, 255);
}
.main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.page-content {
    max-width: 1200px;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.nav-container {
    height:80px;
    width: 100%;
    background-color: rgb(36, 36, 36);
    border-bottom: 5px solid red;
    display: flex;
    justify-content: center;
}
.nav {
    width:80%;
    display:flex;
    justify-content: space-between;
    height: 100%;
}
.nav-left {
    height:100%;
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.nav-logo{
    height:80%;
}
.nav-right{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.nav-right-tag a{
    display: inline;
    padding: 0 40px;
    font-size: 17px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: all 150ms linear;
}
.nav-right-tag a:hover{
    color: rgb(255, 136, 136);
}
.first-section-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.first-section{
    display: block;
    width: 80%;
    margin-top: 60px;
}
.first-section .banner{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-image: url("../img/NERV_HQ_29.webp");
}
.first-section .discription{
    margin-top: 25px;
    font-size: 17px;
}
.products-showcase-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
}
.products-showcase{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 60px;
}
.product-content{
    padding: 10px 10px;
}
.product{
    width: 32%;
    background-color: rgb(255, 212, 212);
}
.product-title{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
    display: block;
}
.product-image-container{
    margin-top: 20px;
    height:380px;
    overflow:hidden;
}
.product-image{
    height: 100%;
}
.product-subtitle{
    color: rgb(91, 91, 91);
    font-style: italic;
    margin-top: 5px;
}
.product-discription{
    font-size: 18px;
    font-weight: 300;
}